<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
  <body>
  <div class="container-fluid col-md-12">
    <div class="row">
      <div class="col-md-4">
        <select class="navbar-form form-control" name="singleSelect" id="singleSelect" ng-model="categories.selection">
        <!--value="{{category}}"in yellow is value | {{category}}-in white is display  -->
          <option ng-repeat="category in categories.list" value="{{category}}">{{category}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <label>Search by Name</label>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-warning">Check Out | Bag: {{items.length}}</button>
      </div>
  </div>
     <!-- <div class="col-md-12 border"> -->
     <div class="row">
      <div class="col-md-3 border">
        <h5>Tea</h5>
      </div>
      <div class="col-md-5 border">
        <h5>Information</h5>
      </div>
      <div class="col-md-4 ">
        <label  for="price">Sort by Price</label>  
        <select class="border" name="price" id="price" ng-model="price.option">
          <option value="-price">Highest</option> 
          <option value="price">Lowest</option>
        </select>
      </div>
    </div>
  </div>
  <!-- TEMPORARY DElETE THE DIRECTIVE -->
 <!--  <gs-teas-directive tea="tea" ng-repeat="tea in view.teas | filter:searchText | orderBy: category.option"></gs-teas-directive> -->

<!--   <tea="tea" ng-repeat="tea in view.teas | filter:searchText | orderBy: category.option"> -->

<!-- ADDING TEA HTML -->
<div ng-repeat="tea in view.teas | filter:categories.selection | filter:searchText  | orderBy:price.option">
  <div class="col-md-12 border container-fluid">
    <div class="row">
      <form ng-submit="addItem(tea)">
        <div class="col-md-3">
          <img ng-src="{{tea.imageUrl}}">
        </div>
        <div class="col-md-5">
          <ul>
          <li><h3>{{tea.name}}</h3></li>
          <li><strong>Ingredients:</strong> {{tea.ingredients}}</li>
          <li><strong>Caffeine Scale:</strong> {{tea.caffeineScale}}</li>
          <li><strong>Price:</strong> {{tea.price | currency :"$" }}</li>
          <li><strong>In Stock:</strong> {{tea.inStock}}</li>
          <li><strong>Rating:</strong> {{tea.rating}}</li>
          <!-- <li>Categories: {{tea.categories}}</li> -->
            <strong>Categories:</strong><li class="orderlist" ng-repeat="c in tea.categories">{{c}}</li>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          Quantity:<select name="singleSelect" id="singleSelect" type="number" ng-model="tea.qty">
              <option value=""></option>
              <option value="1">1</option> 
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <input class="btn btn-warning"type="submit" value="Add To Bag" id="submit">
        </div>
      </form>
    </div>
  </div>
</div><!-- closing repeat -->


<!-- FINISHING TEA HTML -->

  </div>
  </div>
  </body>